.commentGrid {
  display: grid;
}

.commentProfilePic {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
}

.commentGrid img {
  width: 20vw;
}

.commentDetails {
  grid-column-start: 2;
}

.commentsForm {
  display: inline-block;
}

.commentsForm label {
  display: none;
}

.commentsForm textarea {
  width: 80vw;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #332922;
  border-radius: 4px;
  background-color: #fff5ee;
}

.commentsForm button {
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #a6d149;
}
