.commentGrid {
  display: flex;
}

.commentProfilePic {
  padding-left: 30px;
  padding-right: 30px;
}

.commentGrid img {
  width: 20vw;
  border-radius: 50%;
  height: 20vw;
  object-fit: cover;
}

.profiletext {
  gap: 20px;
}

.commentGrid span {
  display: flex;
  flex-wrap: wrap;
}

.commentGrid button {
  border: 1px solid #332922;
  background-color: #fff5ee;
  color: #332922;
  height: 30px;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}

.commentsForm {
  display: inline-block;
}

.commentsForm label {
  display: none;
}

.commentsForm textarea {
  width: 80vw;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #332922;
  border-radius: 4px;
  background-color: #fff5ee;
}

.commentsForm button {
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #a6d149;
}

.commentBody {
  padding-left: 20px;
  padding-right: 20px;
}

.commentList {
  margin-bottom: 0px;
  list-style-type: none;
  padding: 0px;
}

.commentItem {
  background-color: #fff5ee;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  padding: 20px 0px 10px 0px;
  border-radius: 8px;
  box-shadow: 0px 5px 20px 1px #a38875;
}
