.home {
  height: 100vh;
  width: 100vw;
  font-family: helvetica;
  background-color: #ffcdab;
  color: #332922;
}

.home h1 {
  padding-top: 25px;
  padding-bottom: 5px;
  margin-top: 0px;
}

.homeBox {
  background-color: #fff5ee;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
}

.homeBox h2 {
  word-spacing: 20px;
}

.home button {
  background-color: #ffa45c;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
}

.home h2 {
  margin: 16px;
}
