.usernameGrid {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.usernameGrid img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  padding-right: 20px;
}

.usernamePage {
  height: 100vh;
  width: 100vw;
  font-family: helvetica;
  background-color: #ffcdab;
  color: #332922;
}
